<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guia de Rescate</title>
    <link rel="stylesheet" href="/css/W3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
</head>
<style>
    body,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: Roboto, sans-serif;
    }
</style>

<body>
    <!-- First Grid: Logo & About -->
    <div class="w3-row">
        <div class="w3-half w3-lime w3-center" style="height:600px">
            <div class="w3-padding-64">
                <h1>¡Evitemos rescates innecesarios!</h1>
                <h4>Nosotros te ayudamos, da click al botón de abajo para completar un formulario para guiarte en este
                    proceso.</h4>
                <button class="w3-button w3-black w3-round-xxlarge w3-hover-khaki">Ir al Formulario</button>
            </div>
            <div class="w3-row">
                <div class="w3-half">
                    <img src="/resources/Puma.png" class="" style="width:100%">
                </div>
                <div class="w3-half">
                    <img src="/resources/Grecia.png" class="" style="width:100%">
                </div>
            </div>
        </div>
        <div class="w3-half w3-white w3-container" style="height:600px">
            <div class="w3-padding-64 w3-center">
                <h1>Conocé nuestra Organización</h1>
                <img src="/resources/logo.png" alt="Logo" style="width:50%">
                <div class="w3-center-align w3-padding-large">
                    <button class="w3-button w3-black w3-round-xxlarge w3-hover-khaki">Visitar Página Web</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Second Grid: Swing By & Contact -->
    <div class="w3-row">
        <div class="w3-half w3-green w3-container w3-center" style="height:600px">
            <div class="w3-padding-64">
                <h1>Ayuda a los Animales</h1>
            </div>
            <div class="w3-row">
                <div class="w3-half w3-container">
                    <div class="w3-card-4">
                        <img src="/resources/Lapa.png" alt="Alps" style="width:65%">
                        <div class="w3-container w3-center">
                            <p>Trabajamos para darles libertad</p>
                        </div>
                    </div>
                </div>
                <div class="w3-half w3-container">
                    <div class="w3-card-4">
                        <img src="/resources/Lapa.png" alt="Alps" style="width:65%">
                        <div class="w3-container w3-center">
                            <p>Trabajamos para rescatarlos y ayudarlos</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="w3-half w3-sand w3-container" style="height:600px">
            <div class="w3-padding-64 w3-padding-large w3-center">
                <h1>Colabora</h1>
                <p class="w3-opacity">Ayuda a la Organización</p>
                <div class="w3-row">
                    <div class="w3-half w3-container">
                        <div class="w3-card-4">
                            <img src="/resources/Donate.jpg" alt="Alps" style="width:65%">
                            <div class="w3-container w3-center">
                                <button class="w3-button w3-green w3-round w3-hover-khaki">Donar</button>
                            </div>
                        </div>
                    </div>
                    <div class="w3-half w3-container">
                        <div class="w3-card-4">
                            <img src="/resources/Volunteer.jpeg" alt="Alps" style="width:72%">
                            <div class="w3-container w3-center">
                                <button class="w3-button w3-green w3-round w3-hover-khaki">Voluntariado</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>

</html>